@import url(<link rel="preconnect" href="https://fonts.googleapis.com">);
@import url(<link rel="preconnect" href="https://fonts.googleapis.com">);

body{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: whitesmoke;
}

img{
    height: 120px;
    width: 120px;
    border-radius: 5%;
    margin-top: 10px;
}

.div-principal{
    display: flex;
    margin: 15px;
    height: 100vh;
    width: 100%;
    border: black solid 4px;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    column-gap: 200px;
   
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    background-color: black;
    border-radius: 5%;
    color: whitesmoke;
}

.texto-hover-css{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;

    font-family: 'Alkalami', serif;
    word-spacing: 20px;
    position: absolute;
    right: 25%;
    top: 12%;
    left: 27%;
    
}

.div-principal:hover{
    transition: 1.1s;
    background-color: black;
}

.container:hover{
    transition: 1.1s;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 10%;
    color: black;
}

.texto-card:hover{
    transition: 1.1s ;
    transform: scale(1.1);
}

#messi:hover{
    color: rgb(11, 97, 255);
}

#neymar:hover{
    color: rgb(0, 255, 0);
}

#cr7:hover{
    color: rgb(111, 159, 204);
}

#gabigol:hover{
    color: rgb(218, 8, 8);
}






